.sticky-footer { 
    position: fixed;
    bottom: 0px; 
    width: 100%;
    height: 100px; 
    background-color: var(--secondary-color);
}

.sticky-footer button { 
    margin-top: -15px; 
}  

.sticky-footer .legal { 
    bottom: 0;
    height: 35px;
    color: white;
}

.sticky-footer .legal a.has-underline {
    margin-left: 10px;
}

.sticky-footer .legal a.has-underline:hover { 
    text-decoration: none;
} 

.sticky-footer .v-col > .button-container {
    display: inline-block; 
    border-radius: 32px; 
    padding: 22px 8px 0 8px;
    margin-top: -25px;
}